reddit_database_sentiment/reddit_database_sentiment.csv
gensimenv/
main/
mainenv/
__pycache__/
Enunciado práctica 24 25.pdf
processed_dataset.zip
processed_dataset.csv
AllLabs.ipynb
clean_post_corpus.txt
reddit_posts_reduced.csv
review.ipynb
mi_modelo.bin
word2vec_model.bin
models_modulo4/